name: Upgrade Proposal Test

on:
  workflow_run:
    workflows: ["Promote tracks", "Test that failed jobs are retried"]
    types:
    - completed

permissions:
  contents: read
  actions: write

jobs:
  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: Retry Promotion Workflow ${{ github.event.workflow_run.name }}
        if: ${{ github.event.workflow_run.run_attempt < 3 }}
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.request('POST /repos/{owner}/{repo}/actions/runs/{run_id}/rerun-failed-jobs', {
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.payload.workflow_run.id
            });
